@model CloudStaff.MVC.Features.Clients.ClientViewModel
@using CloudStaff.EntityModels

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger small"></span>
</div>

<div class="mb-3">
    <label asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    <span asp-validation-for="Description" class="text-danger small"></span>
</div>

<div class="mb-3">
    <label asp-for="Type" class="form-label"></label>
    <select asp-for="Type" asp-items="Html.GetEnumSelectList<ClientType>()" class="form-select"></select>
    <span asp-validation-for="Type" class="text-danger small"></span>
</div>
