@model CloudStaff.MVC.Features.Managers.ManagerViewModel

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger small"></span>
</div>

<div class="mb-3">
    <label asp-for="AsNumber" class="form-label"></label>
    <input asp-for="AsNumber" class="form-control" />
    <span asp-validation-for="AsNumber" class="text-danger small"></span>
</div>

<div class="mb-3">
    <label asp-for="Location" class="form-label"></label>
    <input asp-for="Location" class="form-control" />
    <span asp-validation-for="Location" class="text-danger small"></span>
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger small"></span>
</div>